@model IEnumerable<GarageV2.ViewModels.OverviewViewModel>

@{
    ViewBag.Title = "Parkerade fordon";
}

<h2>@ViewBag.Title</h2>

<p>
    @using (Html.BeginForm("Overview", "ParkedVehicles", FormMethod.Get))
    {
        <div class="form-group">
            <label class="control-label">S&ouml;k via: </label>
            @Html.RadioButton("searchBy", "VehicleType", true) <text>Fordonstyp</text>
            @Html.RadioButton("searchBy", "RegNo") <text>Registreringsnummer</text>
            @Html.RadioButton("searchBy", "Color") <text>F&auml;rg</text>
        </div>
        <div class="form-group form-inline">
            @Html.TextBox("search", "", new { @class = "form-control" })
            <input type="submit" value="Sök" class="btn btn-default" />
        </div>
        @*@Html.EditorFor(model => model.RegNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ange registreringsnummer"} })*@
    }
</p>

@Html.ActionLink("Visa detaljer", "DetailedOverview") 
<table class="table">
    <tr>
        <th>            @Html.DisplayNameFor(model => model.VehicleType)        </th>
        <th>            @Html.DisplayNameFor(model => model.RegNo)        </th>
        <th>            @Html.DisplayNameFor(model => model.Owner)        </th>
        <th>            @Html.DisplayNameFor(model => model.TimeParked)        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                Inga fordon kan visas utefter din sökning
                <br />
                @Html.ActionLink("Visa alla parkerade fordon", "Overview")
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>                    @Html.DisplayFor(modelItem => item.VehicleType)                </td>
                <td>                    @Html.DisplayFor(modelItem => item.RegNo)                </td>
                <td>                    @Html.DisplayFor(modelItem => item.Owner)                </td>
                <td>                    @Html.DisplayFor(modelItem => item.TimeParked)                </td>
                <td>
                    @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                    @*@Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |*@
                    @Html.ActionLink("Checka ut", "ConfirmCheckOut", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
