@model GarageV2.Models.Member

@{
    ViewBag.Title = "Ny medlem";
}

<div class="glyphicon-dashboard" style="background-color: lightgreen; color: white; height: 100px; font-size: 26px; text-align: center; margin-top: 20px;">
    Välkommen till garaget  !
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Visa alla medlemmar", "Index") |  
    @Html.ActionLink("Checka in fordon", "CheckIn", "ParkedVehicles", new { id = Model.Id },null)
</p>
