@model GarageV2.Models.Member

@{
    ViewBag.Title = "Detaljer om medlem";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <div >
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt></dt>
            <dd>&nbsp;</dd>

            <dt> @Html.DisplayNameFor(model => model.ParkedVehicles) </dt>
            <dd>
                <table border="0">
                    @{
                        int antalFordon = 1;
                    }
                    @foreach (var vehicle in Model.ParkedVehicles)
                    {
                        <tr>
                            <td class="col-md-3">
                                @antalFordon
                            </td>
                            <td class="col-md-3">
                                @{
                                    antalFordon++;
                                }
                                @Html.DisplayFor(v => vehicle.VehicleType.Name)
                            </td>
                            <td class="col-md-3">
                                @Html.DisplayFor(v => vehicle.RegNo)
                               @* @Html.ActionLink(enrollment.Student.FullName, "Details", "Students", new { id = enrollment.StudentId }, null)*@
                            </td>
                        </tr>
                     }
                </table>
            </dd>

        </dl>
    </div>
</div>

<div>
    <br />
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ta bort", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Checka in fordon", "CheckIn", "ParkedVehicles", new { id = Model.Id }, null)
    <br />
    @Html.ActionLink("Visa alla medlemmar", "Index")
</div>
