@model IEnumerable<GarageV2.ViewModels.MemberOverviewViewModel>

@{
    ViewBag.Title = "Medlemmar";
}

<h2>@ViewBag.Title</h2>
<p>
    @using (Html.BeginForm("Index", "Members", FormMethod.Get))
    {
        <label class="control-label col-md-1">S&ouml;k via: </label>
        @Html.RadioButton("searchBy", "FirstName", true) <text>F&ouml;rnamn</text><br />
        @Html.RadioButton("searchBy", "LastName") <text>Efternamn</text>
        @Html.TextBox("search", "", new { @class = "form-control", style = "display: inline; margin-top: -23px;" })
        <input type="submit" value="Sök" class="btn btn-default" style="display: inline; margin-top: -23px;" />
    }
</p>
<p>
    @Html.ActionLink("Registrera en ny användare", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="2">
                Inga medlemmar kan visas | Din s&ouml;kning &auml;r inkorrekt
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Visa", "Details", new { id = item.Id })
                    
                </td>
            </tr>
        }
    }
</table>

<div>
    @Html.ActionLink("Visa alla medlemmar", "Index")
</div>